#### Determine what percentage of the storeâ€™s customers are satisfied based on their feedback comments.

In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [22]:
df = pd.read_csv('customer_data.csv')
df.head()

,CustomerID,Name,Age,Gender,Income,JoinDate,Country,Feedback
0,1,Alec Sheppard,64,Female,57227,2022-12-09,France,Average
1,2,William Thornton,40,Male,91068,2023-04-17,Canada,Fine
2,3,Lawrence Keller,56,Male,46529,2023-03-06,USA,Good service
3,4,Christopher Garrett,61,Female,40193,2023-06-30,Germany,Fine
4,5,Kristen Miller,54,Male,64939,2023-01-11,Australia,Loved it

In [23]:
df.describe()

       CustomerID         Age        Income
count  100.000000  100.000000    100.000000
mean    50.500000   44.470000  58650.510000
std     29.011492   16.158592  24141.173001
min      1.000000   18.000000  20414.000000
25%     25.750000   31.000000  39936.000000
50%     50.500000   45.500000  57170.500000
75%     75.250000   57.750000  79415.000000
max    100.000000   70.000000  99712.000000