#### Determine what percentage of the restaurantâ€™s customers are satisfied based on their feedback comments.

In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [15]:
df = pd.read_csv('restaurant_customers.csv')
df.head()

,Gender,Age,FirstName,LastName,Satisfaction,OrderedFood,FoodCost,MonthlyIncome
0,Female,43,Fatemeh,Gholami,Unsatisfied,Burger,3000000,143000000
1,Female,23,Ali,Najafi,Satisfied,Sandwich,4100000,12000000
2,Male,54,Mohammad,Moradi,Satisfied,Sushi,500000,183000000
3,Male,51,Sara,Gholami,Satisfied,Sandwich,2600000,128000000
4,Male,40,Narges,Rahimi,Satisfied,Pizza,1100000,127000000

In [16]:
df.describe()

              Age      FoodCost  MonthlyIncome
count  200.000000  2.000000e+02   2.000000e+02
mean    44.055000  2.613500e+06   1.032700e+08
std     15.247439  1.341928e+06   5.486353e+07
min     18.000000  5.000000e+05   1.000000e+07
25%     31.000000  1.400000e+06   5.875000e+07
50%     43.000000  2.600000e+06   9.900000e+07
75%     57.250000  3.625000e+06   1.500000e+08
max     70.000000  5.000000e+06   2.000000e+08

In [17]:
df.shape

(200, 8)

In [18]:
df["Satisfaction"].value_counts()

Satisfaction
Satisfied      154
Unsatisfied     46
Name: count, dtype: int64